$main-color: #FC9849;
$secondary-color: #fff;
$font-size: 20px;
$font-family: 'Poppins', sans-serif;

// responsive devices breakpoints
$extra-small-devices: 575px;
$small-devices: 767px;
$medium-devices: 991px;
$large-devices: 1199px;