// a {
//     text-decoration: none; 
//     text-transform: uppercase; 
//     color: rgba(126, 13, 0, 0.051)
// }

@import "variables";
@import "extends";
@import "mixins";

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

.card {
    width: 28%;
    // margin-right: 50px;
    // min-height: 500px;
    // background-color: red;

    // &:nth-child(3n) {
    //     margin-right: 0;
    // }

    padding: 20px 5px;
    &__top {
        width: 100%;
        position: relative;

         &::before {
                content: '🥶';
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: #fff;
                border-radius: 50%;
                z-index: 999;
                padding: 5px 10px;
            }
        &-img {
            width: 100%;
            height: 450px;
            border-radius: 12px;
            object-fit: cover;

            // animation-name: rotateElement;
            // animation-duration: 3s;
            // animation-timing-function: ease-in-out;
            // animation-delay: 3s;
            // animation-iteration-count: 2;
           
        }

    }

    &__body {
        display: flex;
        justify-content: space-between;

        &-description{
            opacity: .7;
        }

        &-price {

            &::before {
                // content: url('../assets/alert-tringle.svg');
                // width: 20px;
                // height: 20px;
                content: '🔥';
            }
        }

    }
}

#products {
    display: flex;

    .products {

        &__img1 {
            width: 40%; 
            height: 400px;
            background-color: #432;

            @extend %d-flex-center;


        }

        &__img2 {
            width: 30%; 
            height: 400px;
            background-color: blue;
        }

        &__img-container {
            width: 30%; 
            height: 400px;
            background-color: rgb(33, 102, 52);
        }

        &__img-item-top {
            width: 100%;
            height: 200px;
            background-color: cadetblue;
        }

        &__img-item-bottom {
            width: 100%;
            height: 200px;
            background-color: #432;
        }
    }
}

#footer {
    display: none;
    width: 100%;
    min-height: 300px;
    // background-color: #000;
    background-image: url('../assets/red-zeppelin-esOeipAebhw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;

    @include tablet {
        display: flex;
    }

    .left {

        .footer {


            &__nav {

                &-item {
                    margin-top: 7px;
                }

                &-title {
                   text-transform: uppercase;
                     color: #fff;
                     font-size: $font-size;
                     letter-spacing: 1px;
                    margin-bottom: 10px;

                    @include tablet {
                        font-size: 20px;
                    }
                }

                &-list {
                    margin-top: 10px;
                    // list-style-image: url('../assets/about.jpeg');
                    list-style-type: none;

                    &:first-child {
                         color: #432;
                    }

                    &::marker {
                        font-size: 1.5rem; /* You can use px, but I think rem is more respecful */
                    }
                    &-item {

                        
                    }
                }

                &-link {
                    text-decoration: none;
                    color: #432;
                    opacity: 0.7;
                }

            }
           
        }
    }
}


li {

    &:nth-child(2n + 1) {
         a {
            color: red;
         }
    }
}

@keyframes rotateElement {
    0% {
        transform: rotate(0deg);
    }
    50% {
        background-color: red;
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#cards {
    @extend %d-flex-center;
    // flex-direction: column;
    column-gap: 20px;
    flex-wrap: wrap;

    .card_3 {
        order: -1;
    }
}

@media only screen and (max-width: 768px) { // mobile

    .card {
        width: 100%;
        margin-bottom: 20px;

        &__body-description {
            font-size: $font-size;
        }
    }

    #products {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) { // tablet

    .card {
        width: 48%;
        margin-bottom: 20px;

        &__body-description {
            font-size: $font-size;
        }
    }

}


@media  only screen and (min-width: 993px) and (max-width: 1200px) { // desktop
    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1401) { // lg
    #footer {
        flex-direction: row;
    }
}

.btn {
    @include btn-theme($main-color, $secondary-color);
}